@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --trovex-purple: #a855f7;
  --trovex-dark: #1e1b4b;
}

body {
  @apply bg-slate-50 text-slate-900;
  font-family: 'Inter', sans-serif;
}